@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(232, 227, 223);
    font-family: "Prompt", sans-serif;
}

.page {
    max-width: 520px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card {
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 10px 25px #0000006a;
}

.profile-image {
    border: solid #00ddff;
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px #0000008f;
}

.role {
    color: blue;
    margin-bottom: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    margin-bottom: 16px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.icon {
    width: 22px;
    height: 22px;
}

#discord-btn,
#ig-btn,
#fb-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background: #f2f2f2;
    cursor: pointer;
}
#discord-btn:hover,
#ig-btn:hover,
#fb-btn:hover {
      background: #cfcece;
      transform: scale(1.1);
      transition: .3s;
}

.box-about {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
    
}

.bot {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    background-color: #2f00ff79;
    border-radius: 10px;
    height: 100px;
}

.bot-desc {
    color: #dedede;
    font-size: 14px;
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.button-text {
    padding: 6px 12px;
    background: #0000ab;
    color: #8d8dff;
    border-radius: 12px;
    font-size: 12px;
}
.button-text:hover {
        background: #4b4bc4;
}

.icon {
    width: 30px;
    height: 26px;
}



    /* git init
git add .
git commit -m "color"
git branch -M main
git remote add origin https://github.com/Camille061/Portfolio.git
git push -u origin main  */